/* em HTML é ID = em CSS é # '*'/
/* em HTML é CLASS = em CSS é '.'*/
#PRINCIPAL{
    text-align: center;
    color:aquamarine
    
}
h1 {
    color:blueviolet
}
.basico {
    background-color: aqua;
    color:blue
    
    
}
.intermediario {
    color:brown
}