body{
    background-color:bisque
    
}

h1{ 
    color:orange;
    text-align: center;
    font-size: 40px


}

h2{ color: darkslateblue;
    font-size: 32px;
    

}

p{
    font-size: 23px
    textcenter;
}